@charset "UTF-8";

/* category */
.products-category {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
  border-bottom: 5px solid #CEB967;
  
}
.products-category__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.products-category__item {
  width: 178px;
  height: 50px;
  background: #F5EFD7;
  border-radius: 6px 6px 0 0;
  padding-top: 19px;
  padding-bottom: 15px;
  
}
.products-category__item--current {
  background: #CEB967;
  width: 178px;
  height: 50px;
  border-radius: 6px 6px 0 0;
  padding-top: 19px;
  padding-bottom: 15px;
}
.products-category__link--current {
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .products-category {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: none;
  }
  .products-category__list {    
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
  }
  .products-category__item {
    width: calc((100% - 1px) / 2 ) ;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .products-category__item:nth-child(odd) {
    margin-right: 1px;
  }
  .products-category__item:nth-child(3),
  .products-category__item:nth-child(4) {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .products-category__item--current {
    width: calc((100% - 1px) / 2 ) ;
    background: #CEB967;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .products-category__link--current {
    color: #fff;
    font-weight: bold;
  }
}

/* pagenation */
.pagenation {
  /* margin-top: 50px; */
  margin-bottom: 100px;
}
.pagenation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pagenation__item {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
}
.pagenation__item:not(:last-child) {
  margin-right: 10px;
}
.pagenation__txt--fist,
.pagenation__txt--last {
  background: #F5EFD7;
  display: block;
  width: 103px;
  line-height: 50px;
  border-radius: 6px;
}
.pagenation__txt--fist::before {
  position: absolute;
  display: block;
  content: "";
  border-bottom: 2px solid ;
  border-left: 2px solid;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  left: 20px;
  margin: auto;
}
.pagenation__txt--last::before {
  position: absolute;
  display: block;
  content: "";
  border-top: 2px solid ;
  border-right: 2px solid;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  right: 20px;
  margin: auto;
}
.pagenation__txt {
  background: #F5EFD7;
  display: block;
  width: 50px;
  line-height: 50px;
  border-radius: 6px;
}
.pagenation__txt--current {
  display: block;
  width: 50px;
  line-height: 50px;
  background: #CEB967;
  color: #fff;
  border-radius: 6px;
}
.pagenation__txt--unvisible {
  background: transparent;
  width: auto;
  display: block;
  padding-top: 8px;  
}
@media screen and (max-width: 767px){
  .pagenation {
    margin-top: 30px;
    margin-bottom: 80px;    
  }
  .pagenation__list {
    justify-content: space-between;
    padding-left: 2.08955%;
    padding-right: 2.08955%;
  
  }
  .pagenation__txt--current {
    width: 40px;
    line-height: 40px;
  }

  .pagenation__item {
    position: relative;
    font-size: 14px;
    height: 40px;
  }
  .pagenation__item:not(:last-child) {
    margin-right: 5px;
  }
  .pagenation__txt--fist,
  .pagenation__txt--last {
    background: #F5EFD7;
    display: block;
    width: 60px;
    line-height: 40px;
  }
  .pagenation__txt--fist {
    padding-left: 9px;
  }
  .pagenation__txt--last {
    padding-right: 9px;
  }
  .pagenation__txt--fist::before {
    left: 11px;
  }
  .pagenation__txt--last::before {
    right: 11px;
  }

  .pagenation__txt {    
    width: 40px;
    line-height: 40px;

  }
  .pagenation__txt--current {
    line-height: 40px;
   
  }
}
/* -- blog-card-list -- */
.blog-card__item {
  padding-top: 40px;
  border-top: 1px dashed #CEB967;
  display: flex;
  flex-direction: row;
}
.blog-card__item:last-child {
  border-bottom: 1px dashed #CEB967;
}
.blog-card__body {
  display: flex;
  flex-direction: column;
  width: calc( 100% - (318px + 31px));
}
.blog-card__sub {
  display: flex;
  padding-bottom: 13px;
}
.blog-card__date {
  margin-right: 27px;
}
.blog-card__stamp {
  font-size: 12px;
  background: #F5EFD7;
  text-align: center;
  width: 92px;
  height: 20px;
}
.blog-card__stamp--current {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #F7320E;
  text-align: center;
  width: 92px;
  height: 20px;
}
.blog-card__title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 20px;
}
.blog-card__text {
  line-height: 1.75;
  padding-bottom: 20px;
}

/* btn */
.blog-card__btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;  
}
.btn--more {
  width: 317px;
  height: 44px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid #341e12;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  display: block;
}
.btn--more::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid ;
  border-right: 2px solid;
  margin:auto;
  right: 110px;
  top: 0;
  bottom: 0;
  transform: rotate(45deg);
}

.blog-card__thumb {
  width: 318px;
  height: 190px;
  margin-right: 31px;
  background-position: center center;
  background-size: cover;
}
#blog-keyholder {
  background-image: url(../images/img素材書き出しサンプル/dmy_blog01.jpg);
}
#blog-chamame {
  background-image: url(../images/img素材書き出しサンプル/dmy_blog02.jpg);
}
#blog-sale {
  background-image: url(../images/img素材書き出しサンプル/dmy_blog03.jpg);
}
#blog-noimage {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5EFD7;
  color: #CEB967;
  font-size: 30px;
  font-weight: bold;
  
}
/* freepage */
.blog-freepage{
  color:#DDDDDD ;
  text-align: center;
  padding-top: 148px;
  padding-bottom: 265px;
}
