@charset "UTF-8";

/*----------------------------------------
base
------------------------------------- */
body {
  color: #341E12;
  font-family: 'Noto Sans';
  font-size: 16px;
}
a {
  color: #341E12;
  text-decoration: none;
}

a:hover {
  color: #A88E25;
}
ol,
ul,
li {
  list-style: none;
}


/*----------------------------------------
header
------------------------------------- */
.common-header {
  position: relative;
  width: 100%;
  height: 200px;
  background: url(../images/img素材書き出しサンプル/bg_top_header.jpg);
  
}
.common-header__body{
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.common-header__image {
  position: absolute;
  width: 400px;
  top: 30px;
  left: 30px;
  bottom: 30px;
  margin: auto;
}

@media screen and (max-width:767px) {
  .common-header {
    height: 110px;
    background: url(../images/img素材書き出しサンプル/bg_top_header_sp.jpg);
    background-size: contain;
    background-position: center center;
  }

  .common-header__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  
}
  

/*----------------------------------------
navi
------------------------------------- */
.common-gnav {
  background: #F5EFD7;
}
.common-gnav__list {
  max-width: 1084px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.common-gnav__item {
  padding: 28px 0 24px;
  font-size: 20px;
  line-height: 1.4; 
}
.common-gnav__item:not(:last-child) {
  margin-right: 50px;
}
.common-gnav__link--current {
  color: #A88E25;
  font-weight: bold;
}
.common-gnav__link--current::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 28px;
  margin-right: 6px;
  vertical-align: top;
  background: url(../images/img素材書き出しサンプル/ico_paw_o.svg) center center / contain no-repeat;
}
.common-gnav__link::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 28px;
  margin-right: 6px;
  vertical-align: top;
  background: url(../images/img素材書き出しサンプル/ico_paw.svg) center center / contain no-repeat;
}

@media screen and (max-width:767px) {
  .common-gnav {
    display: none;
  }
}
/*----------------------------------------
section
------------------------------------- */
.container {
  max-width: 1084px;
  margin: 0 auto;
}
/* breadcrumb */
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 73px;
}
.breadcrumb__list {
  display: flex;
}
.breadcrumb__item {
  position: relative;
  font-size: 12px;
  padding-right: 12px;
  margin-right: 5px;
}
.breadcrumb__item:not(:last-child)::after{
  position: absolute;
  content: " > ";
  display: block;
  top: 0;
  right: 0;
}
.breadcrumb__link {
  text-decoration-line: underline;
}
.breadcrumb__link--current{
  text-decoration-line: none;
}
@media screen and (max-width:767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .breadcrumb {
    margin-bottom: 56px;
  }
  .breadcrumb__item {
    font-size: 10px;
  }
}


/* ----------------------------------
heading
------------------------------------- */

/* name */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.heading__title::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 48px;
  background-image: url(../images/img素材書き出しサンプル/ico_paw02.svg);
}
.heading__subtitle {
  color: #CEB967;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
.heading__description {
  text-align: center;
  margin-top: 40px;
}
.heading__link {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .heading__name {
    font-size: 30px;
  }
  .heading__subtitle {
    font-size: 15px;
  }
  .heading__name::before {
    width: 40px;
    height: 32px;
    background-size: contain;
  }
  .heading__description {
    text-align: left;
    margin-top: 40px;
  }
}
/*----------------------------------------
footer
------------------------------------- */
.footer {
  position: relative;
  background: #341E12;
  color: #fff;
  padding: 0 20px;
  font-size: 12px;
}
.footer__pagetop {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  background: url(../../assets/images/img素材書き出しサンプル/btn_pagetop.svg) #341e12;
  background-size: contain;
  position: absolute;
  top: -60px;
  right: 30px;

}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.sp-gnav__container {
  padding: 20px 0 60px;
}
.sp-gnav__image {
  width: 77px;
  height: 104px;
}
.sp-gnav__item {
  position: relative;
  padding-right: 0.5em;
}
.sp-gnav__item:not(:last-child)::after {
  position: absolute;
  content: "|";
  top: 0;
  right: 0;
}
.sp-gnav__link {
  color: #fff;
  margin: 0 0.8em;
}

.sp-gnav__list--upper {
  padding-bottom: 15px;

}
.sp-gnav__list--upper,
.sp-gnav__list--lower { 
  display: flex;
  justify-content: center;
}

@media screen and (max-width:767px) {
.sp-gnav {
  width: 100%;
}
.sp-gnav__container {
  width: 100%;
}
.sp-gnav__list--upper { 
  flex-direction: column;
  margin: 34px 0 41px;
}
.sp-gnav__list--upper .sp-gnav__item {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px dashed #FFFFFF;
}
.sp-gnav__list--upper .sp-gnav__item:first-child {
  border-top: 1px dashed #ffffff;

}
.sp-gnav__list--lower {
  font-size: 12px;
}
.sp-gnav__list--lower .sp-gnav__item:not(:last-child)::after {
  top: -1px;
  right: -3px;
}
.sp-gnav__list--upper .sp-gnav__item:not(:last-child)::after {
  display: none;
}
.sp-gnav__link {
  display: block;
  height: 100%;
  text-align: center;
}

.footer__pagetop {
  width: 60px;
  height: 60px;
  top: -44px;
  right: 8px;
}

.footer__copyright {
  font-size: 12px;
  margin-bottom: 60px;
}
}

