@charset "UTF-8";

/*----------------------------------------
base
------------------------------------- */
body {
  color: #341E12;
  font-family: 'Noto Sans';
  font-size: 16px;
}
a {
  color: #341E12;
  text-decoration: none;
}

a:hover {
  color: #A88E25;
}
ol,
ul,
li {
  list-style: none;
}


/*----------------------------------------
footer
------------------------------------- */
.footer {
  position: relative;
  background: #341E12;
  color: #fff;
  padding: 0 20px;
  font-size: 12px;
}
.footer__pagetop {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  background: url(../../assets/images/img素材書き出しサンプル/btn_pagetop.svg) #341e12;
  background-size: contain;
  position: absolute;
  top: -60px;
  right: 30px;

}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.sp-gnav__container {
  padding: 20px 0 60px;
}
.sp-gnav__image {
  width: 77px;
  height: 104px;
}
.sp-gnav__item {
  position: relative;
  padding-right: 0.5em;
}
.sp-gnav__item:not(:last-child)::after {
  position: absolute;
  content: "|";
  top: 0;
  right: 0;
}
.sp-gnav__link {
  color: #fff;
  margin: 0 0.8em;
}

.sp-gnav__list--upper {
  padding-bottom: 15px;

}
.sp-gnav__list--upper,
.sp-gnav__list--lower { 
  display: flex;
  justify-content: center;
}

@media screen and (max-width:767px) {
.sp-gnav {
  width: 100%;
}
.sp-gnav__container {
  width: 100%;
}
.sp-gnav__list--upper { 
  flex-direction: column;
  margin: 34px 0 41px;
}
.sp-gnav__list--upper .sp-gnav__item {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px dashed #FFFFFF;
}
.sp-gnav__list--upper .sp-gnav__item:first-child {
  border-top: 1px dashed #ffffff;

}
.sp-gnav__list--lower {
  font-size: 12px;
}
.sp-gnav__list--lower .sp-gnav__item:not(:last-child)::after {
  top: -1px;
  right: -3px;
}
.sp-gnav__list--upper .sp-gnav__item:not(:last-child)::after {
  display: none;
}
.sp-gnav__link {
  display: block;
  height: 100%;
  text-align: center;
}

.footer__pagetop {
  width: 60px;
  height: 60px;
  top: -44px;
  right: 8px;
}
.footer {
  
}
.footer__copyright {
  font-size: 12px;
  margin-bottom: 60px;
}


}