@charset "utf-8";

.contact{
  max-width: 800px;
  margin: 60px auto 0;
  
}
.contact__body {
  padding: 60px 0;
  background: #F5EFD7;
}
.contact__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}
.contact__title-br {
  display: none;
}
.contact__text {
  padding: 0 40px;
  line-height: 1.75;
}



@media screen and (max-width:767px) {
  .contact{
    width: 100%;
    margin: 40px auto 0;
  }

  .contact__title {
    padding: 0 40px;
  }
  .contact__title-br {
    display: block;
  }
  .contact__text {
    padding: 0 20px;
  }
  }

/* button */
.button-wrap {
  max-width: 800px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.button {
  position: relative;
  display: block;
  width: 400px;
  padding: 25px 0;
  text-align: center;
  font-size: 1.25em;
  line-height: 1;
  font-weight: bold;
  color: #341E12;
  background: transparent;
  border: 1px solid #341E12;
  border-radius: 6px;
}
.button::before {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #341E12;
  border-left: 2px solid #341E12;
  transform: rotate(-45deg);
  top: 0;
  bottom: 0;
  margin: auto;
  left: 95px;
}

@media screen and (max-width:767px) {
  .button-wrap {
    width: 100%;
    margin: 80px auto;
    padding: 0 20px;
  }
  .button {
    width: 100%;
  }
  .button::before {
    left: 65px;
  }

}
